<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <form  method="post" action="/posts" class="user_form">
        <input placeholder="Enter username" name="username" class="name_input"/>
        <textarea placeholder="write your post" name="content" class="user_text"></textarea>
        <button class="submit-btn">Submit Post</button>
    </form>
</body>
</html>